@model List<EMS.Models.Employe>
@{
    ViewBag.Title = "العاملين";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
    int i = 1;
}

<div class="ccard">
     <div class="ccard-header">
         <h4>العاملين بالمنظومة</h4>
         <a class="cButton" href="~/Employe/new">اضافة موظف جديد</a>
     </div>
     <div class="ccard-body">

         @if (Model.Count > 0)
         {
             <table class="cTable">
                 <thead>
                     <tr>
                         <th>م</th>
                         <th>اسم</th>
                         <th>عنوان</th>
                         <th>رقم تليفون</th>
                         <th>نوع التعاقد</th>
                     </tr>
                 </thead>
                 <tbody>
                     @{
                         foreach (var employe in Model)
                         {
                                          <tr>
                                              <td>@i</td>
                                              <td>@Html.ActionLink(@employe.name, "details", "Employe", new { id = employe.id }, null)</td>
                                              <td>@employe.address</td>
                                              <td>@employe.phoneNumber</td>

                                              @if (@employe.permenentUser != null)
                                              {
                                                  <td>مثبت</td>
                                              }
                                              else
                                              {
                                                  <td>حساب جهة</td>
                                              }

                                          </tr>
                             i++;
                         }
                     }

                 </tbody>
             </table>
         }

         else
         {
            <div class="cEmpty-warning">
                <h4>لا يوجد موظفيين مسجلين بالمنظومة</h4>
            </div>
         }

     </div>
</div>

