@model EMS.ViewModels.EmployeVM.CreateVM

@{
    ViewBag.Title = "اضافة موظف جديد";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

    <div class="ccard">
        <div class="ccard-header">
            <h4>بيانات الموظف</h4>
        </div>
        <div class="ccard-body">
            @using (Html.BeginForm("Create", "Employe", FormMethod.Post))
            {
                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.name)
                    @Html.TextBoxFor(m => m.employe.name, new { @class = "cInput" })
                </div>

                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.phoneNumber)
                    @Html.TextBoxFor(m => m.employe.phoneNumber, new { @class = "cInput" })
                </div>

                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.address)
                    @Html.TextBoxFor(m => m.employe.address, new { @class = "cInput" })
                </div>

                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.nationalID)
                    @Html.TextBoxFor(m => m.employe.nationalID, new { @class = "cInput" })
                </div>

                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.maritalStateId)
                    @Html.DropDownListFor(m => m.employe.maritalStateId, new SelectList(Model.maritalStates, "id", "name","قم بأختيار الحالة الاجتماعية"),new {@class = "cInput"  })
                </div>

                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.DOB)
                    @Html.TextBoxFor(m => m.employe.DOB, new { @class = "cInput", type = "date" })
                </div>


                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.contractionDate)
                    @Html.TextBoxFor(m => m.employe.contractionDate, new { @class = "cInput", type = "date" })
                </div>

                <div class="cInput-group">
                    @Html.LabelFor(m => m.employe.disablity)
                    @Html.TextBoxFor(m => m.employe.disablity, new { @class = "cInput", type = "number" })
                </div>

                <input class="cButton" type="submit" value="اضافة الموظف" />
            }
        </div>
    </div>

